<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/bienvenido">Bienvenido</a></li>
        <li><a href="/conocenos">Conocenos</a></li>
        <li><a href="/stock">Stock</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </nav>
    {{{body}}} 
  </body>
</html>
